<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login1.Properties.Settings.ramaniConnectionString"
            connectionString="Data Source=SINDHU-PC;Initial Catalog=ramani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="login1.Properties.Settings.ramaniConnectionString1"
            connectionString="Data Source=SINDHU-PC;Initial Catalog=ramani;Persist Security Info=True;User ID=cerner"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>